@page
@model WebApplication1.Pages.Reception.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reservations.Date" class="control-label"></label>
                <input asp-for="Reservations.Date" class="form-control" />
                <span asp-validation-for="Reservations.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservations.NumberOfAdults" class="control-label"></label>
                <input asp-for="Reservations.NumberOfAdults" class="form-control" />
                <span asp-validation-for="Reservations.NumberOfAdults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservations.NumberOfChildren" class="control-label"></label>
                <input asp-for="Reservations.NumberOfChildren" class="form-control" />
                <span asp-validation-for="Reservations.NumberOfChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservations.RoomNumber" class="control-label"></label>
                <input asp-for="Reservations.RoomNumber" class="form-control" />
                <span asp-validation-for="Reservations.RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 10px;">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
