@page

<div class="container">
    <h1>Welcome to MyHotel</h1>
    <h2>Breakfast information application</h2>
    <img src="images/breakfast.jpg" alt="Breakfast" style="width: 700px; height: 450px"/>
</div>
